<!-- About Page -->


<div class="container">
    <section class="section">
        <h2 class="center-align">Meet the Team</h2>
        <div class="row">
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/arun.jpg">
                <h4>Arun Ayyasamy</h4>
                <h5>Back-End Engineer</h5>
                <p>
                    <a href="https://github.com/arundvp" target="_blank">GitHub</a> :: 
                    <a href="https://www.linkedin.com/in/arunsaravanakumar-a-2753448/" target="_blank">LinkedIn</a> :: 
                    <a href="https://arundvp.github.io/myPortfolio.1.x/" target="_blank">Portfolio</a>
                </p>
            </div>
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/avery.jpg">
                <h4>Avery Myers</h4>
                <h5>Back-End Engineer</h5>
                <p>
                    <a href="https://github.com/AveryJMyers" target="_blank">GitHub</a> ::
                    <a href="https://www.linkedin.com/in/avery-m-108704110/" target="_blank">LinkedIn</a> ::
                    <a href="https://averyjmyers.github.io/challenge_2_portfolio_website_design/" target="_blank">Portfolio</a>
                </p>
            </div>
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/edward.png">
                <h4>Edward Von Schondorf</h4>
                <h5>Front-End Engineer</h5>
                <p>
                    <a href="https://github.com/Torvec" target="_blank">GitHub</a> ::
                    <a href="https://www.linkedin.com/" target="_blank">LinkedIn</a> ::
                    <a href="https://torvec.github.io/m2_my_portfolio/" target="_blank">Portfolio</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/jake.jpg">
                <h4>Jake Krauskopf</h4>
                <h5>Front-End Engineer</h5>
                <p>
                    <a href="https://github.com/JaKrau" target="_blank">GitHub</a> ::
                    <a href="https://www.linkedin.com/in/jacob-krauskopf-b0a87190/" target="_blank">LinkedIn</a> ::
                    <a href="https://jakrau.github.io/Bogles/" target="_blank">Portfolio</a>
                </p>
            </div>
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/mark.jpg">
                <h4>Mark Thostesen</h4>
                <h5>Back-End Engineer</h5>
                <p>
                    <a href="https://github.com/markthos" target="_blank">GitHub</a> ::
                    <a href="https://www.linkedin.com/in/mark-thostesen-03192176/" target="_blank">LinkedIn</a> ::
                    <a href="https://markthos.github.io/Professional-Webpage-Portfolio/" target="_blank">Portfolio</a>
                </p>
            </div>
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/will.jpg">
                <h4>Will Cobb</h4>
                <h5>Back-End Engineer</h5>
                <p>
                    <a href="https://github.com/1willcobb" target="_blank">GitHub</a> ::
                    <a href="https://www.linkedin.com/in/1willcobb/" target="_blank">LinkedIn</a> ::
                    <a href="https://www.1willcobb.com/" target="_blank">Portfolio</a>
                </p>
            </div>
        </div>
    </section>
    <section class="section">
        <h2 class="center-align">About this Project</h2>
    </section>
</div>