<!-- About Page -->


<div class="container">
    <section class="section">
        <h2 class="center-align">Meet the Team</h2>
        <div class="row">
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/arun.jpg">
                <h4>Arun Ayyasamy</h4>
                <h5>Back-End Engineer</h5>
                <p>
                    <a href="https://github.com/arundvp" target="_blank"><i class="ci-3x ci-github"></i></a> 
                    <a href="https://www.linkedin.com/in/arunsaravanakumar-a-2753448/" target="_blank"><i class="ci-3x ci-linkedin"></i></a><br>
                    <a href="https://arundvp.github.io/myPortfolio.1.x/" target="_blank">Portfolio</a>
                </p>
            </div>
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/avery.jpg">
                <h4>Avery Myers</h4>
                <h5>Back-End Engineer</h5>
                <p>
                    <a href="https://github.com/AveryJMyers" target="_blank"><i class="ci-3x ci-github"></i></a> 
                    <a href="https://www.linkedin.com/in/avery-m-108704110/" target="_blank"><i class="ci-3x ci-linkedin"></i></a><br>
                    <a href="https://averyjmyers.github.io/challenge_2_portfolio_website_design/" target="_blank">Portfolio</a>
                </p>
            </div>
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/edward.png">
                <h4>Edward Von Schondorf</h4>
                <h5>Front-End Engineer</h5>
                <p>
                    <a href="https://github.com/Torvec" target="_blank"><i class="ci-3x ci-github"></i></a> 
                    <a href="https://www.linkedin.com/" target="_blank"><i class="ci-3x ci-linkedin"></i></a><br>
                    <a href="https://torvec.github.io/m2_my_portfolio/" target="_blank">Portfolio</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/jake.jpg">
                <h4>Jake Krauskopf</h4>
                <h5>Front-End Engineer</h5>
                <p>
                    <a href="https://github.com/JaKrau" target="_blank"><i class="ci-3x ci-github"></i></a> 
                    <a href="https://www.linkedin.com/in/jacob-krauskopf-b0a87190/" target="_blank"><i class="ci-3x ci-linkedin"></i></a><br>
                    <a href="https://jakrau.github.io/Bogles/" target="_blank">Portfolio</a>
                </p>
            </div>
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/mark.jpg">
                <h4>Mark Thostesen</h4>
                <h5>Back-End Engineer</h5>
                <p>
                    <a href="https://github.com/markthos" target="_blank"><i class="ci-3x ci-github"></i></a> 
                    <a href="https://www.linkedin.com/in/mark-thostesen-03192176/" target="_blank"><i class="ci-3x ci-linkedin"></i></a><br>
                    <a href="https://markthos.github.io/Professional-Webpage-Portfolio/" target="_blank">Portfolio</a>
                </p>
            </div>
            <div class="col s12 m12 l4 center-align">
                <img class="circle responsive-img hoverable" src="/images/will.jpg">
                <h4>Will Cobb</h4>
                <h5>Back-End Engineer</h5>
                <p>
                    <a href="https://github.com/1willcobb" target="_blank"><i class="ci-3x ci-github"></i></a> 
                    <a href="https://www.linkedin.com/in/1willcobb/" target="_blank"><i class="ci-3x ci-linkedin"></i></a><br>
                    <a href="https://www.1willcobb.com/" target="_blank">Portfolio</a>
                </p>
            </div>
        </div>
    </section>
    <section class="section container">
        <h2 class="center-align">The Tech Stack</h2>
        <div class="row">
            <ul class="col s12">
                <li class="col s2" id="nodeIcon"><a href="https://nodejs.org/en"><img src="/images/node-js-icon.png" style="width: 140%; margin-top: -25%; margin-left: -20%;"></a></li>
                <li class="col s2" id="expressIcon"><a href="https://expressjs.com/"><img src="/images/expressjs.png" style="width: 105%;"></a></li>
                <li class="col s2" id="mysqlIcon"><a href="https://www.mysql.com/"><img src="/images/mysql.png" style="width: 100%;"></a></li>
                <li class="col s2" id="handlebarsIcon"><a href="https://handlebarsjs.com/"><img src="/images/handlebars.png" style="width: 115%;"></a></li>
                <li class="col s2" id="materializeIcon"><a href="https://materializecss.com/"><img src="/images/materialize.png" style="width: 100%;"></a></li>
                <li class="col s2" id="sequelizeIcon"><a href="https://sequelize.org/"><img src="/images/sequelize.png" style="width: 200%;"></a></li>
            </ul>
        </div>
    </section>
</div>