<!-- About Us Page -->


<section>
    <h1>About Team Titan</h1>
    <!-- All the team members -->
    <!-- Headshot, LinkedIn Links, GitHub Accounts, Personal Websites -->
    
    <h2>About this Project</h2>
    <!-- About the Project -->
    <!-- GitHub Repo -->
    <!-- How this was created (what packages used, frameworks/libraries used, etc.) -->
</section>