<!-- Boards Page -->


<div style="width:100vw;height: 100vh; display: flex;">
    
    <section style="width: 15%;">
        {{> nav_bar_left }}
    </section>
    <section style="width: 70%; text-align: center;">
        {{> kanban }}
        {{> ticket}}
    </section>
    <section style="width: 15%;">
        {{> comment_bar }}
    </section>
</div>



{{#if projects}}
{{> project_select_modal}}


{{else}}
{{> new_project_modal}}
{{/if}}

