<!-- Boards Page -->


<div style="width:100vw;height: 100vh; display: flex;">
    
    <section style="width: 15%;">
        {{> nav_bar_left }}
    </section>
    <section id="" style="width: 70%; text-align: center;">
        
        {{#each projects as |project|}}
            <p style="color: black;">project name: {{project.name}}</p>
            <section style="display: flex; width: 100%; justify-content: space-evenly;">
                <div>
                    <h3>TODO</h3>
                    {{#each project.todo as |ticket|}}
                    <ul style="list-style-type: none;">
                        <li>{{> ticket_card}}</li>
                    </ul>
                    {{/each}}
                </div>
                <div>
                    <h3>DOING</h3>
                    {{#each project.doing as |ticket|}}
                    <ul style="list-style-type: none;">
                        <li>{{> ticket_card}}</li>
                    </ul>
                    {{/each}}
                </div>
                <div>
                    <h3>REVIEW</h3>
                    {{#each project.review as |ticket|}}
                    <ul style="list-style-type: none;">
                        <li>{{> ticket_card}}</li>
                    </ul>
                    {{/each}}
                </div>
                <div>
                    <h3>DONE</h3>
                    {{#each project.done as |ticket|}}
                    <ul style="list-style-type: none;">
                        <li>{{> ticket_card}}</li>
                    </ul>
                    {{/each}}
                </div>
                
            </section>
        {{/each}}
        
        
        
    </section>
    <section style="width: 15%;">
        {{> comment_bar }}
    </section>
</div>



{{#if projects}}
{{> project_select_modal}}


{{else}}
{{> new_project_modal}}
{{/if}}

