<!-- Boards Page -->


<div style="width:100vw;height: 100vh; display: flex;">
    
    <section style="width: 15%;">
        {{> nav_bar_left }}
    </section>
    <section style="width: 70%; text-align: center;">
        {{> kanban }}
        {{#each projects as |project|}}
            <p style="color: black;">{{project.name}}</p>
        {{/each}}
        <h2>{{projects.name}}</h2>
        <ul style="list-style-type: none;">
            <li>{{> ticket_card}}</li>
        </ul>
        
    </section>
    <section style="width: 15%;">
        {{> comment_bar }}
    </section>
</div>



{{#if projects}}
{{> project_select_modal}}


{{else}}
{{> new_project_modal}}
{{/if}}

