<!-- Boards Page -->
<div style="width: 100vw; height: 100vh; display: flex;">
    
    <section style="width: 15%;">
        {{> nav_bar_left }}
    </section>
    <section id="" style="width: 70%; text-align: center;">
        
        {{#each projects as |project|}}
            <p style="color: black;">project name: {{project.name}}</p>
            <section>
                <div>
                    <ul style="list-style-type: none;">
                        {{#each project.tickets}}
                            {{#if (eq status 'todo')}}
                                <li>{{> ticket_card}}</li>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>
                <div>
                    
                </div>
                
            </section>
        {{/each}}
    </section>
    <section style="width: 15%;">
        {{> comment_bar }}
    </section>
</div>

{{#if projects}}
{{> project_select_modal}}
{{else}}
{{> new_project_modal}}
{{/if}}
