<!-- Home page -->


<section style="display: flex; align-items: center;">
    <div>
        <h1>Welcome to TASK TITAN</h1>
        <h4>LETS CRUSH THIS THING</h4>
        <button class="action_button">DIVE IN</button>
    </div>
    <img src="/images/robin3.png" style="max-height: 400px;">
</section>