<section id="homepage">
    <div>
        <h1>
            Welcome to TASK TITAN
        </h1>
        <h4>
            LETS CRUSH THIS THING
        </h4>
      <div>
        <button class="action_button home_button">
            DIVE IN
        </button>
        <div>
    </div>
    <div>
        <img href="../public/images/robin3.jpg">
    </div>
</section>