<!-- Home page -->


<section class="taskTitan_hero">
    <div class="row">
        <div class="col s12 m12 l12 center-align">
        {{#if logged_in}}
            <h2>Welcome Back {{user_name}}</h2>
            <h4>Are you ready to crush your tasks today?</h4>
            <a href="/boards" class="waves-effect waves-light btn-large deep-purple">Let's Go!</a>
        {{else}}
            <h2>Welcome to TASK TITAN</h2>
            <h4>LETS CRUSH THIS THING</h4>
            <div class="row">
                <div class="col s6 m6 l6">
                    <p>Already a Member?</p>
                    <a href="/login" class="waves-effect waves-light btn-large deep-purple">Log In!</a>
                </div>
                <div class="col s6 m6 l6">
                    <p>Not a Member?</p>
                    <a href="/signup" class="waves-effect waves-light btn-large deep-purple">Sign Up!</a>
                </div>
            </div>
        {{/if}}    
        </div>
    </div>
</section>

<section class="section container">
    <h3>Why you should choose Task Titan</h3>
    <div class="row">
        <div class="col s12 m10 l10">
            <p class="flow-text">Task Titan is not just another project management tool. It's a robust platform designed to transform the way you collaborate and achieve your goals. With seamless task tracking, efficient team collaboration, and intuitive interfaces, Task Titan is the game-changing solution that empowers you to take control of your projects. Say goodbye to scattered information and lost productivity - embrace the future of project management with Task Titan.</p>
        </div>
        <div class="col s12 m2 l2">
            <img class="responsive-img hoverable circle" src="/images/logos/TaskTitan.png">
        </div>
    </div>
</section>

<div class="taskTitan_banner">
    <h2 class="center-align">How to Use Task Titan</h2>
</div>

<section class="section container">
    <div class="row">
        <div class="col s12 m2 l2">
            <img class="responsive-img hoverable" src="/images/logos/TaskTitan.png">
        </div>
        <div class="col s12 m10 l10">
            <h4>1. Create Your Project:</h4>
            <p class="flow-text">Define your vision, set your goals, and gather your team. Task Titan makes it effortless to get things moving.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m10 l10">
            <h4>2. Organize Your Tasks:</h4>
            <p class="flow-text">Break your project into manageable tasks and set deadlines. Drag-and-drop functionalities make planning a breeze.</p>
        </div>
        <div class="col s12 m2 l2">
            <img class="responsive-img hoverable" src="/images/logos/TaskTitan.png">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m2 l2">
            <img class="responsive-img hoverable" src="/images/logos/TaskTitan.png">
        </div>
        <div class="col s12 m10 l10">
            <h4>3. Collaborate and Achieve:</h4>
            <p class="flow-text">Invite your team members, communicate effortlessly, and watch as your project comes to life. Task Titan provides all the tools you need in one powerful platform.</p>
        </div>
    </div>
</section>

<div class="taskTitan_banner">
    <h2 class="center-align">Who Uses Task Titan</h2>
</div>

<section class="section container">
    
    <p class="flow-text">From small startups to global enterprises, Task Titan is trusted by organizations around the world. Our clients span various industries, including technology, healthcare, education, and more. Whether you're a team of 5 or a corporation of 5000, Task Titan adapts to your needs, providing a scalable solution that grows with you. Join the ranks of satisfied customers and revolutionize the way you manage projects with Task Titan.</p>
    
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s12 m2 l2"><a href="#ManeBranch">ManeBranch</a></li>
                <li class="tab col s12 m2 l2"><a href="#ArborLink">ArborLink</a></li>
                <li class="tab col s12 m2 l2"><a href="#SecureIT">SecureIT</a></li>
                <li class="tab col s12 m2 l2"><a href="#XxSpacexX">XxSpacexX</a></li>
                <li class="tab col s12 m2 l2"><a href="#Coment">Coment</a></li>
                <li class="tab col s12 m2 l2"><a href="#MirageGlow">MirageGlow</a></li>
            </ul>
        </div>
        
        <div id="ManeBranch" class="col s12">
            <div class="row">
                <div class="col s4 m4 l2">
                    <br>
                    <img class="circle responsive-img hoverable" src="/images/logos/ManeBranch.png">
                </div>
                <div class="col s8 m8 l10">
                    <p class="flow-text">
                        "Communication gaps were our biggest challenge until we discovered this app. The comment system has bridged those gaps, while the kanban board ensures nothing falls through the cracks."
                    </p>
                    <p class="flow-text right-align">
                        - ManeBranch
                    </p>
                </div>
            </div>
        </div>
        
        <div id="ArborLink" class="col s12">
            <div class="row">
                <div class="col s4 m4 l2">
                    <br>
                    <img class="circle responsive-img hoverable" src="/images/logos/ArborLink.png">
                </div>
                <div class="col s8 m8 l10">
                    <p class="flow-text">
                        "As a nonprofit, every minute and dollar counts. Task Titan helped us streamline our efforts, allowing us to focus more on our mission and less on administrative tasks. It's more than a tool; it's a partner in our success."
                    </p>
                    <p class="flow-text right-align">
                        - ArborLink
                    </p>
                </div>
            </div>
        </div>

        <div id="SecureIT" class="col s12">
            <div class="row">
                <div class="col s4 m4 l2">
                    <br>
                    <img class="circle responsive-img hoverable" src="/images/logos/SecureIT.png">
                </div>
                <div class="col s8 m8 l10">
                    <p class="flow-text">
                        "Task Titan transformed the way we handle our projects. The intuitive design and collaboration features have made our team more cohesive and efficient. It's a must-have for any serious project team!"
                    </p>
                    <p class="flow-text right-align">
                        - SecureIT
                    </p>
                </div>
            </div>
        </div>

        <div id="XxSpacexX" class="col s12">
            <div class="row">
                <div class="col s4 m4 l2">
                    <br>
                    <img class="circle responsive-img hoverable" src="/images/logos/XxSpacexX.png">
                </div>
                <div class="col s8 m8 l10">
                    <p class="flow-text">
                        "Client feedback is crucial for us, and the comment system simplifies the review process. It's a lifesaver for our design projects!"
                    </p>
                    <p class="flow-text right-align">
                        - XxSpacexX
                    </p>
                </div>
            </div>
        </div>

        <div id="Coment" class="col s12">
            <div class="row">
                <div class="col s4 m4 l2">
                    <br>
                    <img class="circle responsive-img hoverable" src="/images/logos/Coment.png">
                </div>
                <div class="col s8 m8 l10">
                    <p class="flow-text">
                        "We at Coment are determined to keep the joke running and Task Titan has been absolutely imperative to our mission."
                    </p>
                    <p class="flow-text right-align">
                        - Coment
                    </p>
                </div>
            </div>
        </div>

        <div id="MirageGlow" class="col s12">
            <div class="row">
                <div class="col s4 m4 l2">
                    <br>
                    <img class="circle responsive-img hoverable" src="/images/logos/MirageGlow.png">
                </div>
                <div class="col s8 m8 l10">
                    <p class="flow-text">
                        "We implemented Task Titan across our entire organization, and the results have been remarkable. Communication between departments has never been smoother, and our project completion rate has soared. Thank you, Task Titan!"
                    </p>
                    <p class="flow-text right-align">
                        - MirageGlow
                    </p>
                </div>
            </div>
        </div>
    </div>

<!-- <section class="section container">
    <h3>What People Are Saying About Task Titan</h3>
    <p>"'Task Titan transformed the way we handle our projects. The intuitive design and collaboration features have made our team more cohesive and efficient. It's a must-have for any serious project team!' - Laura, Software Development Lead"</p>
    <p>"'As a freelancer juggling multiple clients, Task Titan has been a lifesaver. It allows me to keep track of all my projects in one place and ensures I never miss a deadline. Highly recommended!' - Mark, Freelance Designer"</p>
    <p>"'We implemented Task Titan across our entire organization, and the results have been remarkable. Communication between departments has never been smoother, and our project completion rate has soared. Thank you, Task Titan!' - Emily, Operations Manager"</p>
    <p>"'As a nonprofit, every minute and dollar counts. Task Titan helped us streamline our efforts, allowing us to focus more on our mission and less on administrative tasks. It's more than a tool; it's a partner in our success.' - Robert, Nonprofit Director"</p>
    <p>"'I was skeptical at first, but Task Titan quickly won me over. Its ease of use, combined with powerful tracking and reporting features, has made it an essential part of our daily workflow. It's a game-changer for project management.' - Karen, Marketing Team Lead"</p>
    <div class="center-align">
        <a href="/signup" class="waves-effect waves-light btn-large deep-purple">Sign Up Now!</a>
    </div>
</section> 

<script type="text/javascript" src="\js\homepage.js"></script>
-->

