<!-- Login Page -->


<section>
    <form style="display: flex; flex-direction: column;gap:0.5em;border: 1px solid #FFF;border-radius: 10px;padding: 1em;">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit" class="action_button">Crush It</button>
        <!-- TODO: takes you to signup page when clicked -->
        <label for="new_user">New User?</label>
        <a href="/signup" class="action_button">Sign Up</a>
    </form>    
</section>