<!-- login form -->


<section style="display: flex;">
    <!-- Login -->
    <form style="display: flex; flex-direction: column;width: 50%;">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Password" required>
        <button type="submit" class="action_button">Crush It</button>
        <label for="new_user">New User?</label>
        <button type="submit" class="action_button">Sign Up</button>
    </form>

    <!-- New User -->
    <form>
        <div>
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" id="first_name" placeholder="Jim" required>
        </div>
        <div>
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" id="last_name" placeholder="Bob" required>
        </div>
        <div>
            <label for="email">Your email</label>
            <input type="email" name="email" id="email" placeholder="name@company.com" required>
        </div>
        <div>
            <label for="password">Your password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" required>
        </div>
        <button type="submit" class="action_button">CRUSH IT</button>
        <div>
            <p>Already User?</p>
            <button>Login</button>
        </div>
        
    </form>
</section>