<!-- Signup Page -->


<section>
    <form style="display: flex; flex-direction: column;gap: 0.5em;border: 1px solid #FFF;border-radius: 10px;padding: 1em;">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" placeholder="Dick" required>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" placeholder="Grayson" required>
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" placeholder="robin@teentitans.io" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="••••••••" required>
        <button type="submit" class="action_button">CRUSH IT</button>
        <label for="current_user">Already a User?</label>
        <a href="/login" class="action_button">Login</a>
    </form>
</section>
