<!-- About Page -->


<div class="taskTitan_banner">
    <h2>Team Titan</h2>
</div>

<section class="container section">
    <div class="row">
        <div class="col s12 m3 l3">
             <img class="circle responsive-img hoverable" src="/images/team/arun.jpg">
        </div>
        <div class="col s12 m3 l3">
            <h4>Arun Ayyasamy</h4>
            <h5>Back-End Engineer</h5>
            <p class="flow-text"><a href="https://arundvp.github.io/myPortfolio.1.x/" target="_blank">Portfolio</a></p>
            <p>
                <a href="https://github.com/arundvp" target="_blank"><i class="ci-3x ci-github"></i></a> 
                <a href="https://www.linkedin.com/in/arunsaravanakumar-a-2753448/" target="_blank"><i class="ci-3x ci-linkedin"></i></a>
            </p>
        </div>
        <div class="col s12 m3 l3">
            <img class="circle responsive-img hoverable" src="/images/team/avery.jpg">
        </div>
        <div class="col s12 m3 l3">
            <h4>Avery Myers</h4>
            <h5>Back-End Engineer</h5>
            <p class="flow-text"><a href="https://averyjmyers.github.io/challenge_2_portfolio_website_design/" target="_blank">Portfolio</a></p>
             <p>
                <a href="https://github.com/AveryJMyers" target="_blank"><i class="ci-3x ci-github"></i></a> 
                <a href="https://www.linkedin.com/in/avery-m-108704110/" target="_blank"><i class="ci-3x ci-linkedin"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3 l3">
            <img class="circle responsive-img hoverable" src="/images/team/edward.png">
        </div>
        <div class="col s12 m3 l3">
            <h4>Edward Von Schondorf</h4>
            <h5>Front-End Engineer</h5>
            <p class="flow-text"><a href="https://torvec.github.io/m2_my_portfolio/" target="_blank">Portfolio</a></p>
            <p>
                <a href="https://github.com/Torvec" target="_blank"><i class="ci-3x ci-github"></i></a> 
                <a href="https://www.linkedin.com/" target="_blank"><i class="ci-3x ci-linkedin"></i></a>
            </p>
        </div>
        <div class="col s12 m3 l3">
            <img class="circle responsive-img hoverable" src="/images/team/jake.jpg">
        </div>
        <div class="col s12 m3 l3">
            <h4>Jake Krauskopf</h4>
            <h5>Front-End Engineer</h5>
            <p class="flow-text"><a href="https://jakrau.github.io/Bogles/" target="_blank">Portfolio</a></p>
            <p>
                <a href="https://github.com/JaKrau" target="_blank"><i class="ci-3x ci-github"></i></a> 
                <a href="https://www.linkedin.com/in/jacob-krauskopf-b0a87190/" target="_blank"><i class="ci-3x ci-linkedin"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3 l3">
            <img class="circle responsive-img hoverable" src="/images/team/mark.jpg">
        </div>
        <div class="col s12 m3 l3">
            <h4>Mark Thostesen</h4>
            <h5>Back-End Engineer</h5>
            <p class="flow-text"><a href="https://markthos.github.io/Professional-Webpage-Portfolio/" target="_blank">Portfolio</a></p>
            <p>
                <a href="https://github.com/markthos" target="_blank"><i class="ci-3x ci-github"></i></a> 
                <a href="https://www.linkedin.com/in/mark-thostesen-03192176/" target="_blank"><i class="ci-3x ci-linkedin"></i></a>
            </p>
        </div>
        <div class="col s12 m3 l3">
            <img class="circle responsive-img hoverable" src="/images/team/will.jpg">
        </div>
        <div class="col s12 m3 l3">
            <h4>Will Cobb</h4>
            <h5>Back-End Engineer</h5>
            <p class="flow-text"><a href="https://www.1willcobb.com/" target="_blank">Portfolio</a></p>
            <p>
                <a href="https://github.com/1willcobb" target="_blank"><i class="ci-3x ci-github"></i></a> 
                <a href="https://www.linkedin.com/in/1willcobb/" target="_blank"><i class="ci-3x ci-linkedin"></i></a>
            </p>
        </div>
    </div>
</section>

<h3 class="center-align">Tech Stack</h3>

<section class="section container">
    <div class="row">
        <div class="col s8 offset-s2 m6 l2 center-align">
            <a href="https://nodejs.org/en" target="_blank"><img class="responsive-img" src="/images/logos/logo-nodejs.svg"></a>
        </div>
        <div class="col s8 offset-s2 m6 l2 center-align">
            <a href="https://expressjs.com/" target="_blank"><img class="responsive-img"  src="/images/logos/expressjs.png"></a>
        </div>
        <div class="col s8 offset-s2 m6 l2 center-align">
            <a href="https://www.mysql.com/" target="_blank"><img class="responsive-img"  src="/images/logos/logo-mysql.svg"></a>
        </div>
        <div class="col s8 offset-s2 m6 l2 center-align">
            <a href="https://handlebarsjs.com/" target="_blank"><img class="responsive-img"  src="/images/logos/logo-handlebars.png"></a>
        </div>
        <div class="col s8 offset-s2 m6 l2 center-align">
            <a href="https://materializecss.com/" target="_blank"><img class="responsive-img"  src="/images/logos/logo-materializecss.png"></a>
        </div>
        <div class="col s8 offset-s2 m6 l2 center-align">
            <a href="https://sequelize.org/" target="_blank"><img class="responsive-img"  src="/images/logos/logo-sequelize.webp"></a>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2 m2 offset-m4 l2 offset-l4">
            <a href="https://day.js.org/" target="_blank">
                <img class="circle responsive-img" src="/images/logos/logo-dayjs.png" alt="DayJS Logo">
            </a>
        </div>
        <div class="col s8 offset-s2 m2 l2">
            <a href="https://bevacqua.github.io/dragula/" target="_blank">
                <img class="responsive-img" src="/images/logos/logo-dragula.svg" alt="Dragula Logo">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s8 offset-s2 m2 offset-m5 l2 offset-l5">
            <a href="https://github.com/markthos/Task-Titan">
                <img class="responsive-img" src="/images/logos/logo-github.png" alt="GitHub Logo">
            </a>
            <p class="center-align flow-text">
                <a href="https://github.com/markthos/Task-Titan" target="_blank">Repository</a>
            </p>
        </div>
    </div>
</section>