{{!-- BOARDS LANDING PAGE --}}
{{>boards_landing_nav}}

<div class="taskTitan_banner">
    <h2>My Boards</h2>
</div>

<section class="section container">
    <div class="row">
        <div class="col s12 m8 offset-m2 l8 offset-l2">
            <p class="flow-text center-align">Select a Project:</p>
            <div class="collection">
                {{#each projects as |project|}}
                    <a class="collection-item purple-text text-lighten-5 pink lighten-2" href="/boards/{{project.id}}">
                        <i class="material-icons right">arrow_forward</i>
                        <i class="material-icons left">developer_board</i>
                        {{project.name}}
                    </a>
                {{/each}}
                <!-- href for the new project modal -->
                <a class="collection-item modal-trigger purple-text text-lighten-5 pink lighten-2" href="#newProjectModal">
                    <i class="material-icons right">add</i>
                    <i class="material-icons left">developer_board</i>
                    New Project
                </a>
                <!-- href for the delete project modal -->
                <a class="collection-item modal-trigger purple-text text-lighten-5 pink lighten-2" href="#deleteProjectModal">
                    <i class="material-icons right">delete_forever</i>
                    <i class="material-icons left">developer_board</i>
                    Delete Project
                </a>
            </div>
        </div>
    </div>
</section>

