<!-- Nav bar for the main view -->

<!-- NEW CLIENT Modal toggle -->
<button class="action_button" data-modal-target="add_client_modal" data-modal-toggle="add_client_modal" type="button">Add Client</button>
<!-- NEW PROJECT BOARD Modal toggle -->
<button class="action_button" data-modal-target="new_project_modal" data-modal-toggle="new_project_modal" type="button">New Project</button>

<section id="nav_bar_left" style="display:flex; flex-direction: column;">
    <a>My Boards</a>
    <!-- NEW CLIENT Modal toggle -->
    <button class="action_button" data-modal-target="add_client_modal" data-modal-toggle="add_client_modal" type="button">Add Client</button>
    <!-- NEW PROJECT BOARD Modal toggle -->
    <button class="action_button" data-modal-target="new_project_modal" data-modal-toggle="new_project_modal" type="button">New Project</button>
    <button class="action_button">Add task </button>
    <button class="action_button">write comment </button>
    <button class="action_button">project progress </button>
    <!-- Trigger/Open The Modal -->
  <button id="myBtn" class="action_button">Select Project</button>

</section>