

<!-- The Modal -->
<div id="myModal2" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close2">&times;</span>
    <h2 class="text-center text-2xl font-bold mb-5">Create a New Project</h2>
    <form id="newProjectForm" action="/api/projects" method="POST">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Project Name:</label>
        <input type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Nefarious Pranksters" required>

        <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Project Type:</label>
        <input type="text" name="type" id="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="trucking">

        <label for="date_started" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Date Started:</label>
        <input type="date" name="date_started" id="date_started" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="08/09/2024" required>

        <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create Project</button>
    </form>
  </div>
</div>
<script src="/js/new_project.js"></script>