
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2 class="text-center text-2xl font-bold mb-5">Select a Project</h2>
    <form id="selectProjectForm" action="/api/select-projects" method="POST">
      <label for="selectedProject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a Project:</label>
      <select name="selectedProject" id="selectedProject" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" required onchange="redirectToSelectedProject(this.value)">
        {{#each projects as |project|}}
        <option value="{{project.id}}">{{project.name}}</option>
        {{/each}}
      </select>
    </form>
  </div>
</div>
<script src="/js/project_select.js"></script>
<script>
  //Redirect to the selected project board
  function redirectToSelectedProject(selectedProjectID) {
    if (selectedProjectID) {
      window.location.href = "/boards/${selectedProjectID}";
    }
  }

</script>