
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p style="color: black">Select A Project</p>
    <button id="myBtn2" class="action_button">New Project</button>
  </div>
</div>
<script src="/js/project_select.js"></script>