<section>
    <h2>Task</h2>
    <p>Details on what I am supposed to do</p>
    <a>Potential reference Link</a>
    <ul>
        <li>tag1</li>
        <li>tag2</li>
    </ul>
    <div style="border-radius: 50%;">
        <img src="../../public/images/Headshot.jpg" style="width: 100px;">
    </div>
    
</section>