.notification {
    position: relative;
    top: 0px;
    right: 0px;
    color: white;
    font-size: 15px;
    height: 30px;
    width: 30px;
    background-color: rgb(230, 113, 59);
    border-radius: 50%;
}

#modded .progress {
    min-height: 40px;
    overflow: hidden;
    position: relative;
}

#modded .progress span {
    position: relative;
    float: left;
    color: #fff;
    padding: 8px;
    z-index: 99999;
}

#modded .progress span i {
    width: inherit;
    font-size: inherit;
    position: relative;
    top: 2px;
    margin-left: 8px;
}

#modded .progress .determinate {
    min-height: 40px;
    width: 0;
    transition: width 1s ease-in-out;
    padding: 8px;
    position: relative;
    color: #fff;
    text-align: right;
    white-space: nowrap;
}

#modded ul.collapsible {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

#modded ul.collapsible li {
    margin-bottom: 14px;
}

#modded ul.collapsible .collapsible-header {
    padding: 0;
    border-bottom: 0;
}

#modded ul.collapsible .collapsible-header .progress {
    margin: 0;
    border-radius: 0;
}

#modded ul.collapsible .collapsible-body {
    padding: 16px;
    box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 3px 1px -2px, rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}

@keyframes grow {
    from {
        width: 0;
    }
}